<div class="page-header">
  <h1>Get Recipe</h1><small>Powered By Food2Fork.com</small>
</div>
<div id="recipes">
  <div class="panel panel-primary">
    <div class="panel-heading">Panel Header</div>
    <div class="panel-body">Panel Content</div>
  </div>
</div>

