<div class="page-header">
  <h1>Get Recipe</h1><small>Powered By Food2Fork.com</small>
</div>

<form id="search-form" role="form">
  <div class="form-group">
    <label for="search" class="control-label"> Search: </label>
    <input type="text" name="search" id="search" class="form-control" />
  </div>
  <input type="submit" class="btn btn-success" name="submit" id="submit" value="Search" />
</form>
<br /> <br />
<div id="recipes">

</div>

